html, body {
	height: 100%;
	min-height: 100%;
	position: relative;
}

header {
	background-color: #428bca;
	padding: 10px 15px;
	height: 60px;
}

.main {
	height: calc(100% - 60px);
	position: relative;
}

.content {
	padding: 20px;
	box-sizing: border-box;
}

.content .nav {
	margin-bottom: 10px;
}

.nav-menu-button {
	display: inline-block;
	position: relative;
	font-size: 35px;
	line-height: 35px;
	color: #fff;
	cursor: pointer;
}
.nav-menu-button:hover {
	text-decoration: none;
}
nav {
	position: absolute;
	left: -110%;
	transition: left 0.5s;
	width: 100%;
	height: 100%;
}
nav .nav {
	box-shadow: 10px 0 10px rgba(0,0,0,0.2);
	height: 100%;
	width: 50%;
	background-color: white;
	position: relative;
	z-index: 1000;
}

.topnav {
	background-color: white;
	border-radius:4px;
}
.menu-open nav {
	left: 0;
}
button.nav-lang {
	position: absolute;
	right: 10px;
	top: 10px;
}
.fruit {
	color: #6633cc;
}
.vegetable {
	color: green;
}

.about-heading {
    font-size: 30px;
    font-weight: bold;
}
.screenshot {
   padding:1px;
   border:1px solid #021a40;
}
