<div ng-if="language === 'English'">
    <p class="about-heading">
        <img src="icon.png"> Shmita Table
    </p>
    <p>
    	This app displays the shmita status of each species of fruit and vegetable based on the current date.</p><p>Data is taken mostly from the table at <a href="http://www.hamachon.co.il/web/project/project.asp?id=18777&modul=40&codeclient=1738&codesubweb=0#">hamachon.co.il</a> with some data from <a href="http://www.toraland.org.il/%D7%91%D7%99%D7%AA-%D7%94%D7%9E%D7%93%D7%A8%D7%A9/%D7%A9%D7%A0%D7%AA-%D7%A9%D7%9E%D7%99%D7%98%D7%94-%D7%AA%D7%A9%D7%A2%D7%94/%D7%9C%D7%95%D7%97-%D7%A7%D7%93%D7%95%D7%A9%D7%AA-%D7%A9%D7%91%D7%99%D7%A2%D7%99%D7%AA-%D7%95%D7%91%D7%99%D7%A2%D7%95%D7%A8-%D7%91%D7%A4%D7%99%D7%A8%D7%95%D7%AA-%D7%94%D7%90%D7%99%D7%9C%D7%9F.aspx">Otzar Haaretz</a>.
    </p>
    <p>
    	Today's date is {{now.getDate()}} {{monthListEn[now.getMonth()]}} {{now.getFullYear()}} ({{nowHe[2]}} {{monthListHe[nowHe[1]-1]}} {{nowHe[0]}}).</p><p>Fruits are displayed in <span class="fruit">purple</span> text, and vegetables in <span class="vegetable">green</span> text. Other foods (like grains and spices) are in <span style="font-weight:bold">black</span>.
    </p>
</div>

<div ng-if="language === 'Hebrew'">
    <p class=about-heading dir="rtl">
        <img src="icon.png"> Shmita Table (לוח שמיטה)
    </p>
    <p dir="rtl">אפליקצייה זו מראה את הסטטוס לגבי שמיטה של כל פרי וירק בתאריך הנוכחי. </p>
    <p dir="rtl">הנתונים לוקחו מהטבלאות באתר <a href="http://www.hamachon.co.il/web/project/project.asp?id=18777&modul=40&codeclient=1738&codesubweb=0#">המכון למצוות תלויות בארץ</a> ובאתר <a href="http://www.toraland.org.il/%D7%91%D7%99%D7%AA-%D7%94%D7%9E%D7%93%D7%A8%D7%A9/%D7%A9%D7%A0%D7%AA-%D7%A9%D7%9E%D7%99%D7%98%D7%94-%D7%AA%D7%A9%D7%A2%D7%94/%D7%9C%D7%95%D7%97-%D7%A7%D7%93%D7%95%D7%A9%D7%AA-%D7%A9%D7%91%D7%99%D7%A2%D7%99%D7%AA-%D7%95%D7%91%D7%99%D7%A2%D7%95%D7%A8-%D7%91%D7%A4%D7%99%D7%A8%D7%95%D7%AA-%D7%94%D7%90%D7%99%D7%9C%D7%9F.aspx">אוצר הארץ</a>.</p>
    <p dir="rtl">התאריך היום הוא {{now.getDate()}} {{monthListEnHe[now.getMonth()]}} {{now.getFullYear()}} ({{nowHe[2]}} {{monthListHeHe[nowHe[1]-1]}} {{nowHe[0]}}).</p>
    <p dir="rtl">פירות מוצגים בצבע <span class="fruit">סגול</span>, ירקות בצבע <span class="vegetable">ירוק</span>, ושאר מינים (כמו דגנים ותבלינים) בצבע <span style="font-weight:bold">שחור.</span></p>
 </div>
