<div ng-if="language === 'English'">
<ul class="nav nav-pills">
	<li ng-repeat="navItem in statusNav" role="presentation" ng-class="{active: navItem.active}"><a href="#/status/{{navItem.route}}">{{navItem.English}}</a></li>
</ul>
<ul>
	<li ng-repeat="food in foodList | orderBy: 'English'" class="{{food.Type}}">{{getTranslation(food)}}</li>
</ul>
</div>
<div ng-if="language === 'Hebrew'" style="direction: rtl;">
<ul class="nav nav-pills">
	<li ng-repeat="navItem in statusNav" role="presentation" ng-class="{active: navItem.active}"><a href="#/status/{{navItem.route}}">{{navItem.Hebrew}}</a></li>
</ul>
<ul>
	<li ng-repeat="food in foodList | orderBy: 'Hebrew'" class="{{food.Type}}">{{getTranslation(food)}}</li>
</ul>
</div>
