<ul class="nav nav-pills">
	<li ng-repeat="navItem in statusNav" role="presentation" ng-class="{active: navItem.active}" ng-if="language === 'English'"><a href="#/status/{{navItem.route}}">{{navItem.English}}</a></li>
	<li ng-repeat="navItem in statusNav" role="presentation" ng-class="{active: navItem.active}" ng-if="language === 'Hebrew'"><a href="#/status/{{navItem.route}}">{{navItem.Hebrew}}</a></li>
</ul>
<ul>
	<li ng-repeat="food in foodList" class="{{food.Type}}">{{getTranslation(food)}}</li>
</ul>
